.matchingScreen {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

  .matchingCardsContainer {
    position:relative;
    display: flex;
    justify-content: center;
    margin: 20vh;
    width: auto;
  }

  .swipe {
    position: absolute;
  }
